.center {
  margin: auto;
  width: 60%;
 
  padding: 10px;
}

body{
  
  width: 400px;
  height: 1800px;
  border: 3px black solid;
  padding: 5px;
  margin: 5px;
}

#waternav{
  margin: auto;
  width: 60%;
  padding: 10px;
}

#musicnav{
  margin: auto;
  width: 60%;
  padding: 10px;
}

#animenav{
  margin: auto;
  width: 60%;
  padding: 10px;
}

#footernav{
  margin: auto;
  width: 60%;
  padding: 10px;
}


#header{
  display: block;
  width: 120px;
  border: 3px black solid;
  padding: 30px;
  margin: 10px;
}


#water{
  position: relative;
  left:190px;
  bottom: 150px;
  width: 60px;
  border: 3px black solid;
  padding: 30px;
  margin: 10px;
}

#music{
  position: relative;
  left:320px;
  bottom: 245px;
  width: 60px;
  border: 3px black solid;
  padding: 30px;
  margin: 10px;
}

#anime{
  position: relative;
  left:460px;
  bottom: 340px;
  width: 60px;
  border: 3px black solid;
  padding: 30px;
  margin: 0px;
}

#footer{
  position: relative;
  left:590px;
  bottom: 425px;
  width: 60px;
  border: 3px black solid;
  padding: 30px;
  margin: 0px;
}

#article{
  position: relative;
  left: 10px;
  bottom: 310px;
  width: 650px;
  height: 1270px;
  border: 3px black solid;
  padding: 30px;
  margin: 1px;
}

#water_section{
  position: relative;
  left:-10px;
  bottom: 10px;
  width: 600px;
  border: 3px black solid;
  padding: 30px;
  margin: 0px;
}

#music_section{
  position: relative;
  left:-10px;
  bottom: -20px;
  width: 600px;
  border: 3px black solid;
  padding: 30px;
  margin: 0px;
}

#anime_section{
  position: relative;
  left:-10px;
  bottom: -50px;
  width: 600px;
  border: 3px black solid;
  padding: 30px;
  margin: 0px;
}

#footer_section{
  position: relative;
  left:10px;
  bottom: 280px;
  width: 650px;
  border: 3px black solid;
  padding: 30px;
  margin: 0px;
}
